@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@material/layout-grid/variables';
@import '~assets/scss/variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:300');
@import url('https://fonts.googleapis.com/css?family=Chela+One');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    font-family: $font-default;
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;

    @media (min-width: 800px) {
        font-size: 15px;
    }

    @media (min-width: 1200px) {
        font-size: 16px;
    }
}

.overflow-text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}